/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  font-family: 'Trebuchet MS', arial;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: none; }

a:focus {
  outline: 0; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5 {
  font-family: 'Trebuchet MS', arial; }

.pageContentTransition, .center-layout, .section-wrappers, .banner {
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  transition: 0.2s linear; }

.center-layout, .section-wrappers, .banner {
  width: 960px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px; }

.banner-image, .banner-wrapper {
  background: url(../img/banner-bg.png) center top no-repeat; }

.main-wrapper {
  padding: 0;
  /*width:$layoutWidth;*/ }

.section-wrappers {
  clear: both; }

/* ==========================================================================
   Body background image
   ========================================================================== */
body {
  font-size: 15px;
  /*background: url(../img/banner-bg.png) center 110px no-repeat;*/
  /*background-size: contain;*/ }

/* ==========================================================================
   Phone call fixed widget
   ========================================================================== */
.fixedPhoneCallWidget {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 50; }

/* ==========================================================================
   Top-band
   ========================================================================== */
.top-band {
  float: left;
  height: 10px; }

.top-band.dark-blue {
  background-color: #005fb0;
  width: 40%; }

.top-band.sky-blue {
  background-color: #4d95d2;
  width: 50%; }

.top-band.grey {
  background-color: #a6a6a6;
  width: 10%; }

/* ==========================================================================
   Header styles
   ========================================================================== */
header {
  min-height: 100px;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  background: #fff url("../img/menu-bar-bg.png") left bottom repeat-x;
  font-family: 'Trebuchet MS', arial, verdana; }
  header .logo {
    color: #004784;
    font-size: 60px;
    font-weight: bold;
    line-height: 44px;
    margin: 0;
    margin-top: 25px;
    padding: 0; }
    header .logo a {
      color: inherit; }
    header .logo a:hover {
      text-decoration: none; }
  header .login-signup-wrap {
    margin-top: 33px;
    margin-right: 73px;
    font-size: 20px;
    color: #8d8d8d; }
    header .login-signup-wrap .separator {
      display: inline-block;
      line-height: 100%;
      font-size: inherit;
      margin: 0 6px; }
    header .login-signup-wrap a {
      font-size: inherit;
      color: inherit; }
    header .login-signup-wrap a:hover, header .login-signup-wrap a:focus, header .login-signup-wrap a:active {
      text-decoration: none; }
  header .phone {
    float: right;
    margin: 26px 0 0 0; }
    header .phone .phone--no {
      background: url(../img/phone-icon.png) left center no-repeat;
      padding-left: 54px;
      font-size: 16px;
      min-height: 40px; }
      header .phone .phone--no a {
        color: #0160b2;
        display: block; }
        header .phone .phone--no a:hover, header .phone .phone--no a:active, header .phone .phone--no a:focus {
          text-decoration: none; }

/* ==========================================================================
   Navbar styles
   ========================================================================== */
.navbar-default {
  background: rgba(0, 55, 102, 0.9);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  min-height: 0;
  text-align: center;
  position: relative;
  z-index: 5; }
  .navbar-default .navbar-header {
    float: right; }
    .navbar-default .navbar-header .navbar-toggle {
      border-color: #bfe2ff;
      border-right-width: 2px; }
      .navbar-default .navbar-header .navbar-toggle:hover, .navbar-default .navbar-header .navbar-toggle:focus {
        background: transparent; }
      .navbar-default .navbar-header .navbar-toggle .icon-bar {
        background-color: #fff; }
  .navbar-default .navbar-collapse {
    padding: 0;
    /* width: $layoutWidth; margin: 0 auto;*/ }
  .navbar-default .navbar-nav > li > a {
    border-radius: 0;
    border-right: 2px solid #bfe2ff;
    color: #bfe2ff;
    font-family: 'Trebuchet MS', arial;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 45px 0 30px;
    margin-top: 15px;
    margin-bottom: 15px; }
  .navbar-default .navbar-nav > li:last-child > a {
    border-right: none; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff; }
  .navbar-default .login-navbar-nav > li > a {
    padding: 0 10px;
    font-size: 15px;
    display: inline-block; }

/* Navbar component - media query */
@media screen and (min-width: 1024px) {
  header {
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out; }
    header.affix {
      min-height: 79px; }
      header.affix h1 {
        font-size: 40px; }
      header.affix h1, header.affix .phone {
        margin-top: 15px;
        margin-bottom: 10px; }

  .navbar-default .navbar-collapse {
    width: 960px;
    margin: 0 auto; } }
/* ==========================================================================
   Banner
   ========================================================================== */
.banner-wrapper {
  background-size: cover;
  position: relative;
  margin-top: -50px;
  z-index: 1; }

.banner {
  display: block;
  position: relative;
  min-height: 414px; }
  .banner .tabs__block {
    position: absolute;
    bottom: 6px;
    left: 30px; }

/* ==========================================================================
   Tabs__Block
   ========================================================================== */
.tabs__block {
  width: 93%;
  /* nav-tabs end */
  /* tabs-panel end */ }
  .tabs__block .nav-tabs {
    margin: 0 auto;
    border: none;
    font-family: 'Trebuchet MS', arial; }
    .tabs__block .nav-tabs > li {
      margin-right: 14px; }
      .tabs__block .nav-tabs > li > a {
        font-size: 22px;
        font-weight: bold;
        color: #003766;
        background: #4d95d2;
        border-width: 0;
        padding-top: 13px;
        padding-left: 19px;
        padding-right: 19px;
        padding-bottom: 12px;
        margin-top: 3px; }
      .tabs__block .nav-tabs > li > a:hover, .tabs__block .nav-tabs > li > a:focus, .tabs__block .nav-tabs > li > a:active {
        border: none; }
      .tabs__block .nav-tabs > li.active > a {
        margin-top: 0;
        padding-bottom: 15px;
        background: #005fb0;
        color: #fff; }
  .tabs__block .tab-content {
    font-family: inherit;
    min-height: 69px;
    background: #005fb0;
    padding: 6px 10px 10px 22px;
    margin-bottom: 7px;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    -ms-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    -webkit-box-shadow: 1px 3px 6px rgba(58, 55, 55, 0.81);
    box-shadow: 1px 3px 6px rgba(58, 55, 55, 0.81); }

/* tabs_block end */
/* ==========================================================================
   Form Horizontal common style
   ========================================================================== */
.form-horizontal .column {
  padding-right: 8px;
  padding-left: 0px; }
.form-horizontal label {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Trebuchet MS', arial;
  margin-bottom: 3px; }
.form-horizontal .form-control {
  margin-right: 8px; }
.form-horizontal option {
  padding: 0; }
.form-horizontal .input-group .form-control {
  border-right-width: 0; }
.form-horizontal .input-group-addon {
  border-color: #82add2;
  padding: 6px 8px 6px 0;
  background-color: #ebebeb; }
.form-horizontal .search-btn {
  margin-top: 11px;
  color: #005fb0;
  text-align: left;
  width: 100%;
  padding: 10px 16px;
  -webkit-box-shadow: 1px 4px 6px rgba(58, 55, 55, 0.81);
  box-shadow: 1px 4px 6px rgba(58, 55, 55, 0.81); }

/* ==========================================================================
   Main Content Area
   ========================================================================== */
.main-content {
  /* negative margin to handle left & right to gradient image*/
  margin-left: -30px;
  margin-right: -30px;
  background: url(../img/side-left-gradient.png) top left repeat-y; }
  .main-content .main-content-inner__child {
    position: relative;
    min-height: 200px;
    padding: 28px 40px 0;
    background: url(../img/side-right-gradient.png) top right repeat-y;
    color: #7d7d7d; }

/* ==========================================================================
   Carousel__Block 
   ========================================================================== */
.carousel__block h4 {
  margin: 0 0 0 65px;
  font-size: 20px;
  font-family: 'Trebuchet MS', arial; }
.carousel__block .carousel-inner {
  margin-left: 47px;
  width: 90.5%;
  overflow: hidden;
  height: 95px; }
  .carousel__block .carousel-inner .item {
    overflow: hidden;
    height: 50px;
    margin-top: 22px; }
    .carousel__block .carousel-inner .item img {
      float: left;
      margin-left: 10px;
      margin-right: 10px; }
.carousel__block .carousel-control {
  width: 47px;
  margin-top: 0px; }
.carousel__block .carousel-control.left,
.carousel__block .carousel-control.right {
  background-image: initial;
  background: #fff url(../img/left-arrow.png) 0 0 no-repeat; }
.carousel__block .carousel-control.right {
  background: #fff url(../img/right-arrow.png) 0 0 no-repeat; }

/* ==========================================================================
    Content-Boxes 
   ========================================================================== */
.content-boxes {
  overflow: hidden;
  margin: 20px 30px;
  font-size: 15px;
  color: #3d3d3d; }
  .content-boxes .img-thumb-wrap {
    position: relative;
    overflow: hidden; }
    .content-boxes .img-thumb-wrap .img-tooltip {
      text-transform: uppercase;
      color: #fff;
      font-size: 21px;
      background: rgba(0, 0, 0, 0.8);
      padding: 15px 13px 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      transition: 0.2s ease-out; }
    .content-boxes .img-thumb-wrap > img:hover + .img-tooltip {
      bottom: -60px; }
  .content-boxes img {
    border: 2px solid #a6a6a6; }
  .content-boxes h3, .content-boxes h5 {
    color: #005fb0;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px; }
    .content-boxes h3 small, .content-boxes h5 small {
      color: inherit; }
  .content-boxes h5 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0; }
    .content-boxes h5 small {
      display: block; }
  .content-boxes .ratings {
    font-size: 20px;
    padding: 4px 0; }

/* ==========================================================================
    Quote-Block 
   ========================================================================== */
.quote__block {
  font-size: 19px;
  color: #3d3d3d;
  background-color: #ececec;
  margin: 20px 0 40px;
  padding: 36px 0 25px;
  position: relative;
  z-index: 5; }
  .quote__block blockquote {
    font-family: 'Trebuchet MS', arial;
    font-size: inherit;
    font-style: italic;
    border: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: 72%; }
    .quote__block blockquote footer {
      text-align: right;
      color: inherit;
      font-size: 23px; }
    .quote__block blockquote:before, .quote__block blockquote:after {
      color: #fff;
      font-family: italic;
      line-height: normal;
      font-weight: 800;
      font-size: 190px;
      position: absolute;
      z-index: -1; }
    .quote__block blockquote:before {
      content: '\201C';
      top: -30px;
      left: 20px; }
    .quote__block blockquote:after {
      content: '\201D';
      bottom: -99px;
      right: 36px; }

/* ==========================================================================
   Explore and Form Block
   ========================================================================== */
.explore__block {
  background: #4d95d2;
  color: #ffffff;
  font-style: italic;
  padding: 26px 0; }
  .explore__block h4 {
    font-size: 19px;
    margin-top: 0; }
  .explore__block a {
    color: #ffffff; }
  .explore__block .explore--links {
    overflow: hidden;
    margin-left: 55px;
    border-right: 1px solid #fff; }
    .explore__block .explore--links ul {
      padding: 0;
      list-style: none; }
    .explore__block .explore--links .el__box-explore {
      margin-right: 42px; }
    .explore__block .explore--links .el__box-company {
      margin-right: 25px; }
    .explore__block .explore--links .el__box-terms {
      margin-right: 40px; }
    .explore__block .explore--links .el__box-extra {
      margin-right: 8px; }
  .explore__block .explore--form {
    text-align: center;
    padding-top: 7px;
    margin-right: 35px; }

/* ==========================================================================
   Footer
   ========================================================================== */
.page-footer {
  padding: 15px 0 22px;
  text-align: center;
  font-style: italic;
  color: #00325d; }
  .page-footer a {
    color: #00325d; }

/* footer end */
/* ==========================================================================
   Search Result page styling
   ========================================================================== */
.search__panel {
  background: #d2d2d2;
  border-bottom: 1px solid #cccccc; }
  .search__panel .search__panel--center {
    padding: 20px 56px 29px; }
  .search__panel h4 {
    font-size: 22px;
    font-weight: bold;
    color: #005fb0;
    margin-bottom: 15px; }
  .search__panel .form-horizontal .row {
    margin: 0; }
  .search__panel .form-horizontal label {
    color: #005fb0; }
  .search__panel .form-horizontal .search-btn {
    color: #fff;
    text-align: center;
    padding: 10px 16px; }

.search-result__content .main-content-inner__child {
  padding-top: 0; }

.content-boxes.search-result--listing {
  margin-top: 26px; }
  .content-boxes.search-result--listing .listing--row {
    overflow: hidden;
    margin-bottom: 45px; }
  .content-boxes.search-result--listing .listing--row:last-child {
    overflow: hidden;
    margin-bottom: 25px; }

/* ==========================================================================
   Custom well grey block
   ========================================================================== */
.custom__well {
  background-color: #ececec;
  color: #005fb0;
  font-size: 16px;
  padding: 24px 45px; }
  .custom__well h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 22px;
    color: #005fb0;
    font-weight: bold; }
    .custom__well h3 small {
      display: block;
      color: inherit;
      font-size: 55%;
      font-weight: bold; }
  .custom__well label {
    font-weight: normal; }
  .custom__well .asterik {
    font-weight: bold;
    font-size: 18px; }
  .custom__well .form-control {
    background-color: #fff;
    border-color: #bebebe; }

/* ==========================================================================
   Additional Links
   ========================================================================== */
.additional__links {
  padding: 22px 26px; }
  .additional__links ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .additional__links ul > li {
      display: inline-block;
      padding: 0 10px;
      border-right: 1px solid #757575; }
      .additional__links ul > li > a {
        font-size: 15px;
        font-style: italic;
        color: #525252; }
        .additional__links ul > li > a :hover {
          text-decoration: none; }
      .additional__links ul > li:first-child {
        padding-left: 0; }
      .additional__links ul > li:last-child {
        border-right: none; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
em {
  color: #525252;
  font-size: 13px;
  font-family: 'Trebuchet MS', arial;
  display: inline-block; }

.noMar {
  margin: 0 !important; }

.noTMar {
  margin-top: 0 !important; }

.noLRMar {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.noPad {
  padding: 0 !important; }

.noTPad {
  padding-top: 0 !important; }

.noLRPad {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.form-control {
  font-family: 'Trebuchet MS', arial;
  background-color: #ebebeb;
  color: #626262;
  padding: 5px 12px;
  height: auto;
  border-color: #82add2;
  box-shadow: none; }

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn {
  text-transform: uppercase;
  font-style: normal;
  font-family: 'Trebuchet MS', arial; }

.btn-sm {
  padding: 6px 18px;
  font-size: 16px; }

.btn-lg {
  border-radius: 4px;
  padding: 6px 16px; }

.btn-primary {
  background-color: #005fb0;
  color: #fff; }

.btn-primary:hover {
  color: #fff;
  background-color: #055294;
  border-color: #03437B; }

.textarea {
  height: 67px; }

/*
 * Hide visually and from screen readers
 */
.no-bg {
  background: none !important; }

.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   iPhone 6 and below mobile devices media query
   ========================================================================== */
@media screen and (min-width: 320px) and (max-width: 736px) {
  body {
    background: url(../img/banner-bg.png) center top no-repeat;
    background-position: center 10px; }

  .main-wrapper {
    position: relative; }

  .center-layout, .section-wrappers, .banner {
    width: 100%; }

  .section-wrappers {
    width: 100%;
    clear: both; }

  .fixedPhoneCallWidget {
    top: 70%; }

  header {
    background: none;
    min-height: 133px;
    padding: 0; }
    header .logo {
      margin-top: 20px;
      font-size: 40px;
      line-height: 30px;
      margin-left: 20px; }
    header .login-signup-wrap {
      margin-right: 20px;
      margin-top: 19px; }
    header.affix {
      position: static; }
    header .phone {
      margin: 54px -126px 0 0;
      background: #fff;
      padding: 5px;
      border-radius: 4px 0 0 4px;
      transition: all 0.2s linear; }
      header .phone:hover {
        margin-right: 0; }

  .navbar-default {
    background: rgba(0, 0, 0, 0.9);
    width: auto;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 10; }
    .navbar-default .navbar-header .navbar-toggle {
      color: #fff;
      border-width: 0;
      margin: 0;
      padding: 10px 20px 12px 12px; }
    .navbar-default .navbar-collapse {
      border-width: 0; }
      .navbar-default .navbar-collapse .navbar-nav {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 10px;
        text-align: left; }
        .navbar-default .navbar-collapse .navbar-nav > li > a {
          font-size: 13px;
          padding: 0 6px 0 7px;
          border-right-width: 0; }
      .navbar-default .navbar-collapse .login-navbar-nav {
        margin-top: 0; }
        .navbar-default .navbar-collapse .login-navbar-nav > li {
          float: left; }
          .navbar-default .navbar-collapse .login-navbar-nav > li > a {
            border-width: 0 1px 0 0; }

  /* Search panel styles */
  .search__panel .search__panel--center {
    padding: 20px 25px 29px; }

  /* Banner styles */
  .banner-wrapper {
    background: none;
    margin-top: 0; }

  .banner {
    min-height: 0; }
    .banner .tabs__block {
      width: 100%;
      position: static; }
      .banner .tabs__block .nav-tabs > li:first-child a {
        border-radius: 0 4px 0 0; }
      .banner .tabs__block .nav-tabs > li {
        margin-right: 8px; }
        .banner .tabs__block .nav-tabs > li > a {
          font-size: 19px;
          padding-left: 16px;
          padding-right: 16px; }
      .banner .tabs__block .tab-content {
        border-radius: 0;
        min-height: 320px; }
    .banner .form-horizontal label {
      margin-top: 17px; }
    .banner .form-horizontal .btn {
      margin-top: 30px;
      margin-bottom: 10px;
      background-color: #4d95d2;
      color: #fff;
      border-width: 0;
      border-radius: 4px;
      width: auto; }

  .main-content {
    background: none;
    margin: 0;
    /* Search result styles*/
    /* Addition links styles */ }
    .main-content .main-content-inner__child {
      padding: 15px 0 0;
      background: #fff; }
    .main-content.search-result__content {
      /* Custom well section */ }
      .main-content.search-result__content .content-boxes {
        margin-left: 10px;
        margin-right: 10px; }
        .main-content.search-result__content .content-boxes img {
          width: 100%; }
        .main-content.search-result__content .content-boxes .listing--row {
          margin-bottom: 0px; }
          .main-content.search-result__content .content-boxes .listing--row .actions {
            margin-bottom: 20px; }
      .main-content.search-result__content .custom__well {
        padding-left: 25px;
        padding-right: 25px; }
        .main-content.search-result__content .custom__well .checkboxes-row {
          margin-bottom: 10px; }
          .main-content.search-result__content .custom__well .checkboxes-row > div {
            padding: 0; }
        .main-content.search-result__content .custom__well .form-group .text-right {
          text-align: left; }

  .carousel__block h4 {
    margin-left: 22px; }
  .carousel__block .carousel-inner .item img {
    margin-right: 5px; }

  .content-boxes p {
    margin-bottom: 30px;
    font-size: 15px; }

  .explore__block .explore--form {
    margin-left: 30px;
    margin-right: 30px; }
  .explore__block .explore--links {
    margin-top: 20px;
    margin-left: 30px; }
    .explore__block .explore--links > div {
      margin-right: 0 !important;
      width: 50%; }

  .page-footer {
    padding: 15px 40px 22px; } }
/* ==========================================================================
   iPhone 5 and below mobile devices media query for 320x480 viewport devices
   Right after iPhone 6 media queries
   ========================================================================== */
@media screen and (min-width: 320px) and (max-width: 480px) {
  header .phone {
    margin: 54px -126px 0 0;
    background: #fff;
    padding: 5px;
    border-radius: 4px 0 0 4px;
    transition: all 0.2s linear; }
    header .phone:hover {
      margin-right: 0; }

  .banner .tabs__block .nav-tabs > li {
    margin-right: 5px; }
    .banner .tabs__block .nav-tabs > li > a {
      font-size: 16px; } }
/* ==========================================================================
   iPad and till max size of 1024 mobile devices media query
   ========================================================================== */
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .center-layout, .section-wrappers, .banner {
    width: 100%; }

  .section-wrappers {
    width: 100%;
    clear: both; }

  header {
    /* padding: 0 20px; >> converted into logo and phone into margin left and right due to 
        top band taken into header element */
    /*/.logo{margin-top: 25px; margin-bottom: 20px;}*/ }
    header .logo {
      margin-left: 20px; }
    header .phone {
      margin-right: 20px; }
    header .login-signup-wrap {
      margin-right: 0; }
    header.affix {
      position: static; }

  .navbar-collapse .navbar-nav > li > a {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px; }

  .banner-wrapper {
    margin-top: 0; }

  /* reset to 0 due to viewport fallens into col-sm category */
  .form-horizontal .column {
    margin-bottom: 10px; }
  .form-horizontal .btn {
    text-align: center; }

  .carousel__block .carousel-inner .item img {
    margin-top: 8px;
    margin-right: 22px; }

  .explore__block .explore--form {
    margin-left: 55px;
    margin-right: 55px; }
  .explore__block .explore--links {
    margin-top: 20px; }
    .explore__block .explore--links > div {
      margin-right: 0 !important;
      width: 25%; }

  .content-boxes {
    font-size: 14px;
    /* Seach result page style overwrites */
    /* Search listing section */
    /* Seach result page style overwrites -- END */ }
    .content-boxes h3 {
      font-size: 20px; }
      .content-boxes h3 .ratings {
        font-size: 16px; }
    .content-boxes.search-result--listing .img-thumb-wrap .img-tooltip {
      font-size: 16px;
      padding: 12px 13px 10px; }
    .content-boxes.search-result--listing h5 {
      font-size: 19px; }
    .content-boxes.search-result--listing .actions .btn-lg {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 17px; }

  /* Custom well section */
  .custom__well .checkboxes-row {
    margin-bottom: 10px; }
    .custom__well .checkboxes-row > div {
      padding: 0; }
  .custom__well .form-group .text-right {
    text-align: left; } }

/*# sourceMappingURL=main.css.map */
